* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 1rem 2rem;
}

.resume-section {
  margin: 2rem 0;
}

.resume-section h2 {
  margin-bottom: 1rem;
}

.resume-section address {
  font-style: normal;
}

.resume-section dd {
  margin-left: 2rem;
}

.skills ul {
  list-style-type: none;
}

.rating {
  margin-bottom: 1rem;
  font-weight: bold;
}

.skill {
  margin-right: 2rem;
  font-weight: normal;
}

.contact-info {}

.skills {}

.jobs {}

.job-list {
  list-style-type: none;
}

.job {
  margin-bottom: 2rem;
}

.description {
  margin-top: 1rem;
}

.skill-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .job {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .job .company {
    width: 30%;
  }

  .job .dates {
    width: 40%;
  }

  .job .position {
    width: 30%;
  }

  .job .description {
    width: 100%;
  }



}
