* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 1rem 2rem;
}

.resume-section {
  margin: 2rem 0;
}

.resume-section h2 {
  margin-bottom: 1rem;
}

.resume-section address {
  font-style: normal;
}

.resume-section dd {
  margin-left: 2rem;
}

.skills ul {
  list-style-type: none;
}

.rating {
  margin-bottom: 1rem;
  font-weight: bold;
}

.skill {
  margin-right: 2rem;
  font-weight: normal;
}

.contact-info {}

.skills {}

.jobs {}

.job-list {
  list-style-type: none;
}

.job {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.job .company {
  width: 100px;
}

.job .dates {
  width: 150px;
}

.job .position {
  width: 100px;
}

.skill-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
