<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>I am a todo list!</h1>
  
  <ul>
    {% for todo in todos %}
    <li>
      {% if todo.done %}
        <s>{{ todo.description }}</s>
      {% else %}
        {{ todo.description }}
      {% endif %}

      (<a href="{% url 'todolist' todolist_pk=todo.todolist.pk %}">{{ todo.todolist }}</a>)
    </li>
    {% endfor %}
  </ul>
</body>
</html>
