<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Todolist: {{ todolist.name }}</h1>
  <ul>
  {% for todo in todolist.items.all %}
  <li>
    {% if todo.done %}
      <s>{{ todo.description }}</s>
    {% else %}
      {{ todo.description }}
    {% endif %}      
  </li>
  {% endfor %}
  </ul>
</body>
</html>
