{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Happy Valley Shelter - Adopt a Dog</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/shelter.css' %}">
  </head>
  <body>
    <header class="site-header">
      <h1 class="site-logo">Happy Valley Shelter</h1>
      <nav class="main-menu">
        <ul class="main-menu__list">
          <li class="main-menu__list-item"><a class="nav-link" href="#">About</a></li>
          <li class="main-menu__list-item"><a class="nav-link" href="#">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <h2>Adopt a Dog</h2>
      <p>
        If you are interested in adopting one of our animals, please fill out our
        <a href="adoption.html">online adoption form</a>.
      </p>
      <section class="search">
        <h3 class="search__title">Show me dogs that are...</h3>
        <form class="search__form" method="POST">
          {% csrf_token %}
          <div class="form_container">
            <div class="search__choice">
              {{ form.age.errors }}
              <h4>{{ form.age.label }}</h4>
              {{ form.age }}
            </div>
            <div class="search__choice">
              <h4>{{ form.size.label }}</h4>
              {{ form.size }}
            </div>
            <div class="search__choice">
              <h4>{{ form.energy_level.label }}</h4>
              {{ form.energy_level }}
            </div>
          </div>
          <button type="submit">Search for dogs</button>
        </form>
      </section>
      <section>
        <div class="row">
          {% for dog in dogs %}
          <div class="animal">
            <img src="{{ dog.picture.url }}" alt="{{ dog.name }}">
            <div class="animal__name">{{ dog.name }}</div>
            <div class="animal__traits">
              {% for trait in dog.get_traits %}
                <span class="animal__trait">{{ trait }}</span>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="footer__block footer__block--donate">
        <a href="#">Donate</a>
      </div>
      <div class="footer__block footer__block--volunteer">
        <a href="#">Volunteer</a>
      </div>
      <div class="footer__block footer__block--location">
        <a href="#">Our location</a>
      </div>
    </footer>
  </body>
</html>
